@model Models.tblSolicitudes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblSolicitudes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblCentrosdetrabajo.ct_clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCentrosdetrabajo.ct_clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTipoModalidades.TipoModalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTipoModalidades.TipoModalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTiposSolicitud.TipoSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTiposSolicitud.TipoSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTipoUsuarios.TipoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTipoUsuarios.TipoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Folio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Folio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubtipoSolicitudId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubtipoSolicitudId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peticion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peticion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oficio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oficio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SolicitudId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
