@model IEnumerable<Models.tblSolicitudes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblCentrosdetrabajo.ct_clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblTipoModalidades.TipoModalidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblTiposSolicitud.TipoSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblTipoUsuarios.TipoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Folio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extencion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubtipoSolicitudId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peticion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oficio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblCentrosdetrabajo.ct_clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblTipoModalidades.TipoModalidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblTiposSolicitud.TipoSolicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblTipoUsuarios.TipoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Folio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectronico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extencion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubtipoSolicitudId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peticion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oficio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SolicitudId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SolicitudId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SolicitudId })
        </td>
    </tr>
}

</table>
